<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Patfi Watch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Patfi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TotalBalanceWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F60DBEBE2E69FD3300ED214A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F63DB5A62E799D1100688CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6EF52AA2E8617B900C45AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6EF52AF2E8617B900C45AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6FEFAD82E7D7BE200E5FBB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
